FlightManagement/Web References/InsertSale/InsertSale.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SaleRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parRow" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parSeat" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parTravel" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="parCustomer" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaleRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaleRequestResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCustomer">
        <s:complexType />
      </s:element>
      <s:element name="GetCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerResult" type="tns:ArrayOfCustomer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCustomer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTravel">
        <s:complexType />
      </s:element>
      <s:element name="GetTravelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTravelResult" type="tns:ArrayOfTravel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTravel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Travel" nillable="true" type="tns:Travel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Travel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Origin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Destination" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Time_Departure" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Time_Arrived" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Duration" type="tns:TimeSpan" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxCapacity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxRow" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxSeatsRow" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Origin_Destination" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TimeSpan" />
      <s:element name="GetTravelSelected">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parCode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTravelSelectedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTravelSelectedResult" type="tns:Travel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSeats">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parCode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSeatsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSeatsResult" type="tns:ArrayOfSeats" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSeats">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Seats" nillable="true" type="tns:Seats" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Seats">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Row" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Seat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Full" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaleRequestSoapIn">
    <wsdl:part name="parameters" element="tns:SaleRequest" />
  </wsdl:message>
  <wsdl:message name="SaleRequestSoapOut">
    <wsdl:part name="parameters" element="tns:SaleRequestResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="GetCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetTravelSoapIn">
    <wsdl:part name="parameters" element="tns:GetTravel" />
  </wsdl:message>
  <wsdl:message name="GetTravelSoapOut">
    <wsdl:part name="parameters" element="tns:GetTravelResponse" />
  </wsdl:message>
  <wsdl:message name="GetTravelSelectedSoapIn">
    <wsdl:part name="parameters" element="tns:GetTravelSelected" />
  </wsdl:message>
  <wsdl:message name="GetTravelSelectedSoapOut">
    <wsdl:part name="parameters" element="tns:GetTravelSelectedResponse" />
  </wsdl:message>
  <wsdl:message name="GetSeatsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSeats" />
  </wsdl:message>
  <wsdl:message name="GetSeatsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSeatsResponse" />
  </wsdl:message>
  <wsdl:portType name="InsertSaleSoap">
    <wsdl:operation name="SaleRequest">
      <wsdl:input message="tns:SaleRequestSoapIn" />
      <wsdl:output message="tns:SaleRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <wsdl:input message="tns:GetCustomerSoapIn" />
      <wsdl:output message="tns:GetCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTravel">
      <wsdl:input message="tns:GetTravelSoapIn" />
      <wsdl:output message="tns:GetTravelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTravelSelected">
      <wsdl:input message="tns:GetTravelSelectedSoapIn" />
      <wsdl:output message="tns:GetTravelSelectedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSeats">
      <wsdl:input message="tns:GetSeatsSoapIn" />
      <wsdl:output message="tns:GetSeatsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InsertSaleSoap" type="tns:InsertSaleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaleRequest">
      <soap:operation soapAction="http://tempuri.org/SaleRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap:operation soapAction="http://tempuri.org/GetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravel">
      <soap:operation soapAction="http://tempuri.org/GetTravel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravelSelected">
      <soap:operation soapAction="http://tempuri.org/GetTravelSelected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeats">
      <soap:operation soapAction="http://tempuri.org/GetSeats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InsertSaleSoap12" type="tns:InsertSaleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaleRequest">
      <soap12:operation soapAction="http://tempuri.org/SaleRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap12:operation soapAction="http://tempuri.org/GetCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravel">
      <soap12:operation soapAction="http://tempuri.org/GetTravel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravelSelected">
      <soap12:operation soapAction="http://tempuri.org/GetTravelSelected" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeats">
      <soap12:operation soapAction="http://tempuri.org/GetSeats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InsertSale">
    <wsdl:port name="InsertSaleSoap" binding="tns:InsertSaleSoap">
      <soap:address location="http://flightwebservice.azurewebsites.net/InsertSale.asmx" />
    </wsdl:port>
    <wsdl:port name="InsertSaleSoap12" binding="tns:InsertSaleSoap12">
      <soap12:address location="http://flightwebservice.azurewebsites.net/InsertSale.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>